.popup__btn {
  background-color: black;
  color: white;
  padding: 14px 0;
  margin: 0 auto;
  width: 100%;
  max-width: 358px;
}

@media screen and (min-width: 1280px) {
  .popup__btn{
    padding: 16px 0;
  }
}

