.form__input {
  all: unset;
  width: 100%;
  min-width: 238px;
  box-sizing: border-box;
  background-color: inherit;
  padding-bottom: 10px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
}

@media screen and (min-width: 1280px) {
  .form__input {
    min-width: 358px;
  }
}

