.popup__close-btn {
  width: 20px;
  height: 20px;
  background-image: url(../../../assets/svg/close-btn.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  position: absolute;
  top: -36px;
  right: 0;
  transition: opacity .2s ease-in;
}

.popup__close-btn:hover {
  opacity: .6;
}

@media screen and (min-width: 1280px) {
  .popup__close-btn {
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    top: -40px;
    right: -40px;
  }
}

